$btn-medium-color: #ffbf00;

.btn-medium {
  border: 1px solid $btn-medium-color;
  background: $btn-medium-color;
  color: black!important;
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: 100;
  opacity: 0.7;
  text-decoration: none;
  transition: opacity 0.3s ease, letter-spacing 0.3s ease;
  font-family:$montserrat;
  font-weight:bold;

  &:hover {
    text-decoration: none;
    background: #ffdd7c;
    opacity: 0.9;
  }

  &:focus {
    color: $btn-medium-color;
    border-color: $btn-medium-color;
    outline: none;
    text-decoration: none;
  }

  &:visited {
    color: $btn-medium-color;
    border-color: $btn-medium-color;
  }
}

